{{job|json}}
{{applications|json}}

<!-- static code -->
<h1>Job</h1>

<div>
	<h2>{{job.title}}</h2>
	<p>{{job.description}}</p>
	<p>{{job.skills}}</p>
	<p>{{job.type}}</p>
	<p>{{job.salary}}</p>
	<p>{{job.location}}</p>
	<p>{{job.experience}}</p>
	<p>{{job.deadline}}</p>
	<p>{{job.startup}}</p>
</div>

<h1>Applications</h1>

<div *ngFor="let application of applications">
	<h2>{{application.cover}}</h2>
	<p>{{application.description}}</p>
	<p>{{application.status}}</p>
	<p>{{application.tests}}</p>
	<p>{{application.links}}</p>
	<p>{{application.skills}}</p>
	<p>{{application.job}}</p>
</div>

<h1>Certificates</h1>

<div *ngFor="let certificate of certificates">
	<h2>{{certificate.granted}}</h2>
	<p>{{certificate.grade}}</p>
	<p>{{certificate.isCompleted}}</p>
	<p>{{certificate.answer}}</p>
	<p>{{certificate.answers}}</p>
</div>



