<h1>Job</h1>

<div class="wrapper">
	<h2>{{job.title}}</h2>
	<p>{{job.description}}</p>
	<p>{{job.skills}}</p>
	<p>{{job.type}}</p>
	<p>{{job.salary}}</p>
	<p>{{job.location}}</p>
	<p>{{job.experience}}</p>
	<p>{{job.deadline}}</p>
	<p>{{job.startup}}</p>
</div>

<h1>Applications</h1>

<div class="wrapper" *ngFor="let application of applications">
	<h2>{{application.cover}}</h2>
	<p>{{application.description}}</p>
	<p>{{application.status}}</p>
	<p>{{application.tests}}</p>
	<p>{{application.links}}</p>
	<p>{{application.skills}}</p>
	<p>{{application.job}}</p>
</div>

<h1>Courses</h1>

<div class="wrapper" *ngFor="let course of courses">
	<h2>{{course.title}}</h2>
	<p>{{course.description}}</p>
</div>

<h1>Tests</h1>

<div class="wrapper" *ngFor="let test of tests">
	<h2>{{test.title}}</h2>
	<p>{{test.description}}</p>
</div>

