<h1>Startup</h1>

<div>
    <h3>{{startup.name}}</h3>
    <p>{{startup.description}}</p>
    <p>{{startup.currency}}</p>
    <p>{{startup.socials}}</p>
    <p>{{startup.pitchDeck}}</p>
</div>

<h1>Jobs</h1>
<div *ngFor="let job of jobs">
    <h3>{{job.title}}</h3>
    <p>{{job.description}}</p>
</div>

<h1>Courses</h1>
<!-- <div>
    <h3>{{course.name}}</h3>
    <p>{{course.description}}</p>
    <p>{{course.currency}}</p>
    <p>{{course.socials}}</p>
    <p>{{course.pitchDeck}}</p>
</div>

<h1>Tests</h1>
<div>
    <h3>{{test.name}}</h3>
    <p>{{test.description}}</p>
    <p>{{test.currency}}</p>
    <p>{{test.socials}}</p>
    <p>{{test.pitchDeck}}</p>
</div> -->